<table class="ui striped table">
  <thead>
    <tr>
      <th>Email</th>
      <th>Username</th>
      <th>Password</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index">
      <td>{{ user.email }}</td>
      <td>{{ user.username }}</td>
      <td type="password">{{ user.password }}</td>
      <td>
        <i
          [routerLink]="['/detail', user.email]"
          class="edit outline icon cursor-pointer"
        >
        </i>
        <i
          (click)="deleteUser(user.email)"
          class="trash alternate outline icon cursor-pointer"
        ></i>
      </td>
    </tr>
    <tr *ngIf="users.length == 0">
      <td>No users found.</td>
    </tr>
  </tbody>
</table>
